{% extends "base.html" %}

{% block title %}
Создать пост
{% endblock %}

{% block main %}
<br>
<h1>Страница для создания поста</h1><br>

<form method="POST">
    {{ form.hidden_tag() }}

    {{ form.title.label }}
    {{ form.title(class="form-control") }}
    {% for error in form.title.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}

    <br>
    {{ form.content.label }}
    {{ form.content(class="form-control") }}
    {% for error in form.content.errors %}

    # span используется для оборачивания текста ошибки, чтобы применить к нему стили
    <span style="color: red;">{{ error }}</span>
    {% endfor %}

    <br>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}
